.form-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 60px;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 50px;
    border-radius: 4px;
}

.title {
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold; 
}


.oneHalf, .twoHalf {
    width: 48%;
}

.form-group1, .form-group2 {
    margin-bottom: 25px;
}

.form-group1 label, .form-group2 label {
    display: block;
}

.form-group1 input,
.form-group1 select,
.form-group1 textarea,
.form-group2 input,
.form-group2 select,
.form-group2 textarea {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #d1d1d1;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    margin-top: -65px; /* Adjust this value to move it up */
}


button:hover {
    background-color: #797979;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
