:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-image: linear-gradient(hwb(237 45% 0%), hsl(237, 97%, 57%));
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
a:hover {
  color: hwb(237 45% 0%);
  cursor: pointer;
}

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.card {
  font-weight: bold;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 50%;
  background-color: hwb(0 0% 100%);
  border-radius: 10px;
  color: hwb(0 100% 0%);
}

.card .card-image {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.Header {
  background-color: rgb(34, 34, 34);
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  top: -0.5rem;
  right: 0%;
  height: 4rem;
}

.Header ul {
  margin: auto;
}

.Header li {
  display: inline-flex;
  padding-left: 10px;
  padding-right: 10px;
}

.Header .HeaderAbout {
  right: 0%;
}


.TF {
  color: white;
  margin: auto;
  text-align: center;
  padding: 8em;
}

.TF .TF-desc {
  margin: auto;
  font-size: 4vh;
  max-width: 400px;
}

.TF .TF-title {
  font-size: 9vh;
}